<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>aning.cite</string>
	<key>connections</key>
	<dict>
		<key>06C9C4A9-38CE-441A-8D06-E2F2D8B39B60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4599AA3C-1636-4E89-AEEC-F59DC72B0CA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82F262A3-F638-4769-9BA8-5171BFA19B06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>469F2D15-9086-44C9-BC8D-50AB27538486</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6D0AD5E-2D1E-42F6-9397-38A21C595070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15C2BE5C-1E74-47D9-9730-FC2BA7DADA2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06C9C4A9-38CE-441A-8D06-E2F2D8B39B60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54A44E57-F34C-48D3-B923-9B79655D1BA6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Go to landing page</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>469F2D15-9086-44C9-BC8D-50AB27538486</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy formatted reference</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Ning</string>
	<key>description</key>
	<string>Get article citation data from doi.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Citation Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4599AA3C-1636-4E89-AEEC-F59DC72B0CA1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python bib.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>06C9C4A9-38CE-441A-8D06-E2F2D8B39B60</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>BibTeX copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>82F262A3-F638-4769-9BA8-5171BFA19B06</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://dx.doi.org/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>54A44E57-F34C-48D3-B923-9B79655D1BA6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>cite</string>
				<key>runningsubtext</key>
				<string>searching for matching articles ...</string>
				<key>script</key>
				<string>python doi.py "{query}"</string>
				<key>subtext</key>
				<string>Import BibTeX</string>
				<key>title</key>
				<string>Search Using Citation Metadata</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Formatted reference copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A6D0AD5E-2D1E-42F6-9397-38A21C595070</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python ref.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>469F2D15-9086-44C9-BC8D-50AB27538486</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15C2BE5C-1E74-47D9-9730-FC2BA7DADA2D</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06C9C4A9-38CE-441A-8D06-E2F2D8B39B60</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>15C2BE5C-1E74-47D9-9730-FC2BA7DADA2D</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>4599AA3C-1636-4E89-AEEC-F59DC72B0CA1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>469F2D15-9086-44C9-BC8D-50AB27538486</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>54A44E57-F34C-48D3-B923-9B79655D1BA6</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>82F262A3-F638-4769-9BA8-5171BFA19B06</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>A6D0AD5E-2D1E-42F6-9397-38A21C595070</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
