<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>aning.latex.tools</string>
	<key>connections</key>
	<dict>
		<key>6409408B-4E29-416A-AA0F-2E404976F042</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFB10914-2040-4985-A581-531616B58F66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C24829E-6EDA-48DF-93AE-4C238B4A6355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CB9E2DD-A4FC-4AA5-B229-88174066B821</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4D1F92E-D3BD-4535-AB2C-27E763F2ECC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C24829E-6EDA-48DF-93AE-4C238B4A6355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F219040D-BA33-4C67-85BB-01DF350C70FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6409408B-4E29-416A-AA0F-2E404976F042</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Ning</string>
	<key>description</key>
	<string>A collection of tools for working with LaTeX files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LaTeX Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>texcount</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Word Count for TeX</string>
				<key>types</key>
				<array>
					<string>org.tug.tex</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D4D1F92E-D3BD-4535-AB2C-27E763F2ECC7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TeXCount</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CB9E2DD-A4FC-4AA5-B229-88174066B821</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>result=$(perl texcount.pl "{query}" -brief)
one=$(echo $result | cut -d' ' -f1 | awk -F'+' '{print $1 + $2 + $3, "words"}')
two=$(echo $result | cut -d' ' -f2 | awk -F'/' '{print $2, "floats"}')
three=$(echo $result | cut -d' ' -f2 | awk -F'/|\\)' '{print $4, "equations"}')
echo $one, $two, $three</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C24829E-6EDA-48DF-93AE-4C238B4A6355</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Finished Processing</string>
				<key>title</key>
				<string>TeXDiff</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CFB10914-2040-4985-A581-531616B58F66</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>org.tug.tex</string>
				</array>
				<key>name</key>
				<string>TeXDiff</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F219040D-BA33-4C67-85BB-01DF350C70FC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./rundiff.sh "{query}" 2&gt;&amp;1 | tee output.log</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6409408B-4E29-416A-AA0F-2E404976F042</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6409408B-4E29-416A-AA0F-2E404976F042</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>7C24829E-6EDA-48DF-93AE-4C238B4A6355</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>8CB9E2DD-A4FC-4AA5-B229-88174066B821</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CFB10914-2040-4985-A581-531616B58F66</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>D4D1F92E-D3BD-4535-AB2C-27E763F2ECC7</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>F219040D-BA33-4C67-85BB-01DF350C70FC</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
