<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>aning.numpy</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4F9E8A1-D6AA-4E61-9810-F0D1D7D0E08B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D93F2E9B-C8F0-4B89-AAE7-67289689BB61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E9DBBA5-C5A5-41B7-921A-D902E2AD9486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8615574-FCA1-487A-84B5-3D533E99E400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D93F2E9B-C8F0-4B89-AAE7-67289689BB61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Ning</string>
	<key>description</key>
	<string>searches methods in the Python NumPy module</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NumPy Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4F9E8A1-D6AA-4E61-9810-F0D1D7D0E08B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>np</string>
				<key>runningsubtext</key>
				<string>searching ...</string>
				<key>script</key>
				<string>python match.py "{query}"</string>
				<key>subtext</key>
				<string>action a method to open its docs in browser</string>
				<key>title</key>
				<string>Find Method in NumPy</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Finished Scrape</string>
				<key>title</key>
				<string>NumPy Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E9DBBA5-C5A5-41B7-921A-D902E2AD9486</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python scrape.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D93F2E9B-C8F0-4B89-AAE7-67289689BB61</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scrapenp</string>
				<key>subtext</key>
				<string>(can take a few minutes)</string>
				<key>text</key>
				<string>Scrape NumPy Index</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8615574-FCA1-487A-84B5-3D533E99E400</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>7E9DBBA5-C5A5-41B7-921A-D902E2AD9486</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>D93F2E9B-C8F0-4B89-AAE7-67289689BB61</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>E4F9E8A1-D6AA-4E61-9810-F0D1D7D0E08B</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>F8615574-FCA1-487A-84B5-3D533E99E400</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
